html,
body {
    padding: 0;
    margin: 0;

    background-color: rgb(183, 103, 41);
}

ul>li {
    text-decoration: none;
    margin: 12px;
    display: flex;
    flex-direction: row;
    justify-items: space-between;

}

li {}

form {
    margin-top: 86px;
}


.input-fav {
    padding: 12px;
    margin-left: 34%;
    width: 358px;
    height: 34px;
}

button#exclui-fav {
    margin-left: auto;
    margin-bottom: 8px;
}

